body {
    padding: 0;
    margin: 0;
}
.middle {
    position: absolute;
    top: 50%;

    transform: translate(-50%);
    width: 100%;
    text-align: center;
}
.btn {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.115);
    color: #7868e6;
    overflow: hidden;
    position: relative;
}
.btn i {
    line-height: 90px;
    font-size: 30px;
    transition: 0,2s linear;
}
.btn:hover i {
    transform: scale(1.2);
    color: #f1f1f1

}
.btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background-color: #7868e6;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.btn:hover::before {
    animation: aaa 0,7s 1;
    top: -10%;
    left: -10%;
}
@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}